/*------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------
				GLOBAL CSS
--------------------------------------------------------------
--------------------------------------------------------------
------------------------------------------------------------*/

div#tvp_header
{
	/*page-break-after	: always;*/
	height				: 220px;
}

div#tvp_body
{
	white-space			: normal;
}


/*============================================================
				BODY
============================================================*/

div#tvp_body div.scene
{
	display		: none;
}

div#tvp_body div.clip_scene_pair
{
	border: solid 1px rgb(200, 233, 255);
}
div#tvp_body div.clip_scene_impair
{
	border: solid 1px rgb(255, 233, 200);
}
div#tvp_body div.clip
{
	page-break-inside: avoid;	/*'normalement' pour pas que les shots soient coupés ...*/
}

/*============================================================
				BODY > SCENE
============================================================*/


/*============================================================
				BODY > CLIP
============================================================*/

div#tvp_body div.clip div.header,
div#tvp_body div.clip div.preview,
div#tvp_body div.clip div.comments
{
	page-break-inside: avoid;
}

/*============================================================
				BODY > CLIP > HEADER
============================================================*/


/*============================================================
				BODY > CLIP > HEADER > SCENE
============================================================*/


/*============================================================
				BODY > CLIP > HEADER > CLIP
============================================================*/


/*============================================================
				BODY > CLIP > HEADER > DURATION
============================================================*/


/*============================================================
				BODY > CLIP > PREVIEW
============================================================*/


/*============================================================
				BODY > CLIP > COMMENTS
============================================================*/


/*============================================================
				BODY > CLIP > COMMENTS > ACTION
============================================================*/


/*============================================================
				BODY > CLIP > COMMENTS > DIALOG
============================================================*/


/*============================================================
				BODY > CLIP > COMMENTS > NOTES
============================================================*/


/*============================================================
				FOOTER
============================================================*/

div#tvp_footer span.generated
{
	display: block;
}

div#tvp_footer span.company
{
	display: block;
}

div#tvp_footer span.sep
{
	display: none;
}

